@import "_variables.scss";
@import "_navbar.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.bold {
  font-weight: 900;
}

.btn {
  background-color: $button-bg;
}

.btn:hover {
  background-color: $button-bg-hover;
}

.profile-image,
.user-image,
.user-image-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-image,
.user-image-1 {
  height: 5vw;
  width: 5vw;
  min-width: 50px;
  min-height: 50px;
}

.profile-image {
  background-image: url(/images/selfie.jpg);
  height: 20vw;
  width: 20vw;
}

.user-image {
  background-image: url(/images/profile-image.jpeg);
}

.user-image-1 {
  background-image: url(/images/selfie.jpg);
}
